<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <title>Create Event</title>
</head>
<body>
<h2 th:text="@{'Create new Event in ' + ${group.groupName}}"></h2>
<form th:action="@{/events/create(username=${user.userName}, groupname=${group.groupName})}" th:object="${event}" method="post" enctype="multipart/form-data">

  <label for="eventName">Event Name:</label>
  <input type="text" th:field="*{name}" id="eventName" required/><br/>

  <label for="description">Description:</label>
  <textarea th:field="*{description}" id="description"></textarea><br/>

  <label for="status">Status:</label>
  <input type="text" th:field="*{status}" id="status"><br/>

  <label for="eventPhoto">Event Photo:</label>
  <input type="file" name="eventPhoto" id="eventPhoto" accept="image/*"><br/>

  <button type="submit">Create Event</button>
</form>
</body>
</html>
