<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
  <head>
    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <meta charset="UTF-8" />
    <title>Events</title>
  </head>
  <body>
    <h2 th:text="@{'Events in ' + ${group.groupName}}"></h2>
    <h3 th:text="@{'Member: ' + ${user.userName}}"></h3>
    <table>
      <tr>
        <th>Event name</th>
        <th>Description</th>
        <th>Actions</th>
      </tr>
      <tr th:each="event : ${events}">
        <td th:text="${event.name}"></td>
        <td th:text="${event.description}"></td>
        <td th:text="${event.status}"></td>
        <td>
          <a th:href="@{'/events/' + ${event.id} + '/details'}">Details</a>
        </td>
      </tr>
    </table>
    <a
      th:href="@{/events/create?username=} + ${user.userName} + '&groupname=' + ${group.groupName}"
      >Create New Event</a
    >
  </body>
</html>
