<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Groups</title>
  </head>
  <body>
    <div class="container mt-4">
      <h2 th:text="'Groups for ' + ${user.userName}"></h2>

      <table class="table table-striped mt-3">
        <thead>
          <tr>
            <th>Group Name</th>
            <th>Description</th>
            <th>Tags</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="group : ${groups}">
            <td th:text="${group.groupName}">Group Name</td>
            <td th:text="${group.description}">Group Description</td>
            <td>
              <span
                th:each="tag : ${group.tags}"
                th:text="${tag.name} + ' '"
                class="badge badge-secondary"
              ></span>
            </td>
            <td></td>
            <td>
              <a
                th:href="@{'/groups/' + ${group.id} + '/details?username=' + ${user.userName}}"
                class="btn btn-sm btn-info"
                >Details</a
              >
              <a
                th:href="@{'/groups/' + ${group.id} + '/invite?username=' + ${user.userName}}"
                class="btn btn-sm btn-success"
                >Invite</a
              >
              <a
                th:href="@{'/groups/' + ${group.id} + '/edit?username=' + ${user.userName}}"
                class="btn btn-sm btn-warning"
                >Edit</a
              >
              <a
                th:href="@{'/groups/' + ${group.id} + '/delete?username=' + ${user.userName}}"
                class="btn btn-sm btn-danger"
                onclick="return confirm('Are you sure you want to delete this group?')"
                >Delete</a
              >
              <a
                th:href="@{'/groups/' + ${group.id} + '/events?username=' + ${user.userName}}"
                class="btn btn-sm btn-primary"
                >Group Events</a
              >
            </td>
          </tr>
        </tbody>
      </table>
      <a
        th:href="@{'/groups/create?username=' + ${user.userName}}"
        class="btn btn-primary mt-3"
        >Create New Group</a
      >
    </div>
  </body>
</html>
