<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <title>Login</title>
</head>
<body>
<h2>Login</h2>
<form th:action="@{/login}" th:object="${user}" method="post">
  <label for="userName">Username:</label>
  <input type="text" th:field="*{userName}" id="userName" /><br/>

  <label for="userPW">Password:</label>
  <input type="password" th:field="*{userPW}" id="userPW" /><br/>

  <button type="submit">Login</button>
</form>
<p th:text="${error}"></p>
</body>
</html>
